---
import ListOfProducts from '@components/ListOfProducts.astro'
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
  const categoryPages = [
    {
      slug: 'headphones',
      title: 'Audiophile E-commerce | Headphones',
    },
    {
      slug: 'speakers',
      title: 'Audiophile E-commerce | Speakers',
    },
    {
      slug: 'earphones',
      title: 'Audiophile E-commerce | Earphones',
    },
  ];

  return categoryPages.map(({ slug, title }) => {
    return {
      params: { slug },
      props: { title },
    };
  });
}

const { slug } = Astro.params;
const { title } = Astro.props;
---

<Layout title={title}>
  <h1 class="title">
    {slug.toUpperCase()}
  </h1>

  <ListOfProducts slug={slug} />
</Layout>

<style>
  .sectionCategories{
    background-color: var(--white);
    padding-top: 1rem;
  }

  .title{
    border-top: 1px solid var(--darkGray);
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    margin: 0;
    padding-block: 2rem;
    background-color: var(--lightBlack);
  }

  /* TABLET */
  @media (min-width: 480px) {
    .sectionCategories{
      padding-top: 0rem;
    }
  }

  /* DESKTOP */
  @media (min-width: 1000px) {
    .title{
      padding-block: 3rem;
      font-size: 2.4em;
    }
  }
</style>