---
import CategoriesSection from '../components/CategoriesSection.astro';
import HeroSection from '../components/HeroSection.astro';
import ProductsSection from '../components/ProductsSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Audiophile E-commerce | Home">
	<main>
		<HeroSection />
		<CategoriesSection />
		<ProductsSection />
	</main>
</Layout>

<style>

</style>
