---
import data from '@lib/products.json';
import Product from '@components/Product.astro';

const { slug } = Astro.props;

//Get the products of a specific category, showing the new product first
const products = data.products
                        .filter((product) => product.category === slug)
                        .sort((a, b) => b.new - a.new);
---

<section class="sectionListContainer">
  {products.map((product) => (
    <Product product={product} />
  ))}
</section>

<style>
  .sectionListContainer{
    width: 90%;
    margin: 0 auto;
  }

  /* DESKTOP */
  @media (min-width: 1000px){
    .sectionListContainer{
      width: 80%;
    }  
  }
</style>