---
import { ViewTransitions } from "astro:transitions";
import Footer from "@components/Footer.astro";
import PreFooter from "@components/PreFooter.astro";
import Header from "@components/Header.astro";
import CategoriesSection from "@components/CategoriesSection.astro";

const { title } = Astro.props;

const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions fallback="none"/>
	</head>

	<body>
		<Header />

		<main class={currentPath === '/checkout/' ? 'gray' : ''}>
			<slot />
			
			{(currentPath !== '/checkout/') && (
				<CategoriesSection />
				<slot name="after-categories"/>
				<PreFooter />
			)}
		</main>
	
		<Footer />
	</body>
</html>

<style is:global>
	:root{
		--white: #fff;
		--black: #000;
		--lightBlack: #191919;
		--lightOrange: #FBAF85;
		--orange: #D87D4A;
		--gray: #7D829D;
		--darkGray: #303030;
		--lightGray: #F1F1F1;
		--red: #ff0000;
	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body{
		padding: 0;
		margin: 0;
		font-family: 'Manrope', sans-serif;
		background-color: var(--white);
	}

	a{
		text-decoration: none;
		display: block;
	}

	ul, p{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	img, picture{
		max-width: 100%;
		display: block;
	}

	input, button{
		font-family: 'Manrope', sans-serif;
	}

	/* Remove arrows from inputs number */
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}

	.gray{
		background-color: var(--lightGray);
	}
</style>
